.App {
	width: 100vw;
	background: #f4c900;
}

.top {
	width: 100vw;
	height: 30px;
	background: #f4c900;
}

.bottom {
	width: 100vw;
	height: 10px;
	background: #f4c900;
	box-shadow: 0 4px 5px rgb(187, 187, 187);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	background: black;
	height: 80px;
	display: flex;
	align-items: center;

	h2 {
		color: white;
		font-family: 'Proxima Nova Alt';
		font-weight: 500;
		font-size: 37px;
		padding-left: 35px;
	}
}
